body {
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: turquoise;
    font-family: 'Monoton', Cursive;
    text-align: center;
}

#app {
    display: block;
    position: relative;
    margin: 0 auto;
}
